{% extends 'admin/index.html' %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../../static/css/account/account.min.css">
{% endblock %}

{% block section %}
    <section class="pay" data-type="{{ type_request }}">
        <div class="pay_block">
            <div class="pay_container">
                <input class="input_one" type="date">
                <input class="input_two" type="date">
                <div class="info">
                    <div class="info_item">
                        Overal {{ balance }}
                    </div>
                </div>
            </div>
            <div class="pay_buttons">
                <button>Click</button>
                <button>Cash</button>
                <button>Bank</button>
            </div>
            <div class="pay_cashes">
                <button class="button_student">Student to’lovlari</button>
                <button>Workers salary</button>
                <button>Teachers salary</button>
                <button class="button_cost">Overhead</button>
                <button>Capital expenses</button>
            </div>
            <h1 class="h1">Jami summa {{ balance }}</h1>
            <div class="pay_list">
                <table class="table_first">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>
                            Name
                        </th>
                        <th>Surname</th>
                        <th>
                            Pay
                        </th>
                        <th>Payment type</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in payments %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ page.student_month_payments.student.user.name }}</td>
                            <td>{{ page.student_month_payments.student.user.surname }}</td>
                            <td>{{ page.payed }}</td>
                            <td>{{ page.student_month_payments.account_type.name }}</td>
                            <td>{{ page.date.strftime("%Y-%m-%d") }}</td>
                            <td><i class="fa-solid fa-trash delButtonPay" style="color: red"
                                   data-id="{{ page.id }}"></i></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <table class="table_second">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>
                            Expense name
                        </th>
                        <th>
                            Expense
                        </th>
                        <th>Payment</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in cost_all %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ page.name }}</td>
                            <td>{{ page.payed }}</td>
                            <td>{{ page.account_type.name }}</td>
                            <td>{{ page.date.strftime("%Y-%m-%d") }}</td>
                            <td><i class="fa-solid fa-trash delButtonCost" style="color: red"
                                   data-id="{{ page.id }}"></i></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="../../static/js/payment/account.js"></script>
    {#    <script src="/static/js/student_payments_in_month/payments_in_monyh.js"></script>#}
{% endblock %}