{% extends 'admin/index.html' %}
{% block css %}
    <link rel="stylesheet" href="../../static/css/lesson_table/table.min.css">
{% endblock %}

{% block section %}
    <section class="main">
        <div class="main_select">
            <select name="" id="">
                <option value="">Hafta kunlari</option>
            </select>
            <div class="main_btns">
                <button id="patok">Patok</button>
                <button id="sinf">Sinf</button>
            </div>
        </div>
        <div class="main_table">
            <table>
                <thead>
                <tr>
                    <th rowspan="2">Xonalar nomi</th>
                    <th>8:00 - 8:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>
                    <th>10:00 - 10:45</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


                </tbody>
            </table>
        </div>
    </section>
{% endblock %}